{% extends "ams/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">

        <h1>Welcome to Devakinandan Flat Owner Association!</h1>
        <p>Apartment management software are tools that make routine tasks
            such as tracking and storing tenant information, collecting rent,
            and managing accounting needs easier for property managers.
            Common features in apartment management software include online
            rental payment and account access for tenants, expense and maintenance tracking,
            lease management, resident screening, and financial reporting.
        </p>
    </div>
</div>

{% endblock %}